Extract Bronze Layer/Parent Pipeline For Extraction and Transformation/Parent Pipeline/Parent Pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"FabricDataPipelines user1":{"type":"string"},"Muhammad_Yaseen_Lake_House_1":{"type":"string"},"github connection user1":{"type":"string"}},"variables":{},"resources":[{"name":"Parent Pipeline","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Raw Data Extraction Pipeline","type":"InvokePipeline","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"waitOnCompletion":true,"operationType":"InvokeFabricPipeline","pipelineId":"79380a9d-5531-4716-9d07-338cb2eadf5f","workspaceId":"a329a3ee-5092-4875-9843-9b802c9292e2","parameters":{}},"externalReferences":{"connection":"[parameters('FabricDataPipelines user1')]"}},{"name":"Consolidate Sales Fact Table","type":"RefreshDataflow","dependsOn":[{"activity":"Raw Data Extraction Pipeline","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"dataflowId":"e0bc3c98-5539-42c5-b8b4-2590a843ac6f","workspaceId":"a329a3ee-5092-4875-9843-9b802c9292e2","notifyOption":"NoNotification","dataflowType":"DataflowFabric"}},{"name":"Customer Demographic Engineering","type":"RefreshDataflow","dependsOn":[{"activity":"Raw Data Extraction Pipeline","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"dataflowId":"fba2e203-4e3c-4d05-abb3-e8b017c5a881","workspaceId":"a329a3ee-5092-4875-9843-9b802c9292e2","notifyOption":"NoNotification","dataflowType":"DataflowFabric"}},{"name":"Flat Product Hierarchy","type":"RefreshDataflow","dependsOn":[{"activity":"Raw Data Extraction Pipeline","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"dataflowId":"e2b99ba0-b42c-447a-9530-ba53386f7b67","workspaceId":"a329a3ee-5092-4875-9843-9b802c9292e2","notifyOption":"NoNotification","dataflowType":"DataflowFabric"}},{"name":"Time Intelligence Calendar","type":"RefreshDataflow","dependsOn":[{"activity":"Raw Data Extraction Pipeline","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"dataflowId":"7b220925-4ceb-448a-b6f2-9e9c24685918","workspaceId":"a329a3ee-5092-4875-9843-9b802c9292e2","notifyOption":"NoNotification","dataflowType":"DataflowFabric"}},{"name":"Value-Added Sales Metrics","type":"RefreshDataflow","dependsOn":[{"activity":"Consolidate Sales Fact Table","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"dataflowId":"6740b9dd-0468-4276-9ba0-44788645aaeb","workspaceId":"a329a3ee-5092-4875-9843-9b802c9292e2","notifyOption":"NoNotification","dataflowType":"DataflowFabric"}},{"name":"Product Return Rate Analysis","type":"RefreshDataflow","dependsOn":[{"activity":"Consolidate Sales Fact Table","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"dataflowId":"d7d56d14-a178-434f-990e-9971853d4062","workspaceId":"a329a3ee-5092-4875-9843-9b802c9292e2","notifyOption":"NoNotification","dataflowType":"DataflowFabric"}}],"lastModifiedByObjectId":"27aa9fee-1851-4cdb-b623-bf8081f1017c","lastPublishTime":"2025-12-24T21:23:20Z"},"dependsOn":[]},{"name":"Raw Data Extraction Pipeline","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"File_Names","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"Muhammad_Yaseen_Lake_House_1","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"a329a3ee-5092-4875-9843-9b802c9292e2","artifactId":"[parameters('Muhammad_Yaseen_Lake_House_1')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":"git.json","folderPath":"Source and Destination Locations"}},"schema":{}}}},{"name":"For_All_Data_Files","type":"ForEach","dependsOn":[{"activity":"File_Names","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('File_Names').output.value","type":"Expression"},"isSequential":false,"activities":[{"name":"Copy Data from Http Source","description":"Copying Customers Data from Github","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"@item().p_rel_url","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('github connection user1')]"}}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","fileExtension":".txt"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Muhammad_Yaseen_Lake_House_1","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"a329a3ee-5092-4875-9843-9b802c9292e2","artifactId":"[parameters('Muhammad_Yaseen_Lake_House_1')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@item().p_sink_file","type":"Expression"},"folderPath":{"value":"@item().p_sink_folder","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}}],"lastModifiedByObjectId":"27aa9fee-1851-4cdb-b623-bf8081f1017c","lastPublishTime":"2025-12-24T18:51:17Z"},"dependsOn":[]}]}