Extract/Raw_Data_Extraction_Pipeline/Raw Data Extraction Pipeline/Raw Data Extraction Pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"Muhammad_Yaseen_Lake_House_1":{"type":"string"},"github connection user1":{"type":"string"}},"variables":{},"resources":[{"name":"Raw Data Extraction Pipeline","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"File_Names","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"Muhammad_Yaseen_Lake_House_1","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"a329a3ee-5092-4875-9843-9b802c9292e2","artifactId":"[parameters('Muhammad_Yaseen_Lake_House_1')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":"git.json","folderPath":"Source and Destination Locations"}},"schema":{}}}},{"name":"For_All_Data_Files","type":"ForEach","dependsOn":[{"activity":"File_Names","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('File_Names').output.value","type":"Expression"},"isSequential":false,"activities":[{"name":"Copy Data from Http Source","description":"Copying Customers Data from Github","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"@item().p_rel_url","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('github connection user1')]"}}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","fileExtension":".txt"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Muhammad_Yaseen_Lake_House_1","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"a329a3ee-5092-4875-9843-9b802c9292e2","artifactId":"[parameters('Muhammad_Yaseen_Lake_House_1')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@item().p_sink_file","type":"Expression"},"folderPath":{"value":"@item().p_sink_folder","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}}],"lastModifiedByObjectId":"27aa9fee-1851-4cdb-b623-bf8081f1017c","lastPublishTime":"2025-12-24T18:51:17Z"},"dependsOn":[]}]}